<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>Basic client</title>
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="basiClient">
<div ng-controller="mainCtrl as self">
    <div class="container">
        <h3>Wifi networks list</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Auth</th>
              <th scope="col">Average throughput</th>
              <th scope="col">Devices</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="network in self.networks">
              <th>{{ network.id }}</th>
              <td>{{ network.auth }}</td>
              <td>{{ network.avg_throughput }}</td>
                <td>
                    <span ng-repeat="device in network.devices">
                        <p>id: {{ device.id }},
                        throughput : {{ device.throughput }}</p>
                    </span>

                </td>
                <td><button type="button" class="btn btn-danger" ng-click="self.deleteNetwork(network.id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        <div ng-if="self.error" class="alert alert-danger" role="alert">
          {{ self.error }}
        </div>

        <h3>Connect new device</h3>
        <form>
          <div class="form-group">
            <label for="networkID">Device ID</label>
            <input type="text" class="form-control" id="deviceID" placeholder="Enter device ID" ng-model="self.device.device_id">
          </div>
          <div class="form-group">
            <label for="networkID">Network ID</label>
            <input type="text" class="form-control" id="networkID" placeholder="Enter network ID" ng-model="self.device.network_id">
          </div>
            <div class="form-group">
              <label for="Authentication">Authentication</label>
                <select class="form-control" id="Authentication" ng-model="self.device.auth">
                  <option>WPA</option>
                  <option>Public</option>
                </select>
            </div>
          <button type="submit" class="btn btn-primary" ng-click="self.connectDevice(self.device)">Submit</button>
        </form>

        <h3>Report device throughput</h3>
        <form>
          <div class="form-group">
            <label for="deviceID">Device ID</label>
            <input type="text" class="form-control" id="deviceID" placeholder="Enter device ID" ng-model="self.device.device_id">
          </div>
          <div class="form-group">
            <label for="networkID">Network ID</label>
            <input type="text" class="form-control" id="networkID" placeholder="Enter network ID" ng-model="self.device.network_id">
          </div>
          <div class="form-group">
            <label for="deviceThroughput">Throughput</label>
            <input type="number" class="form-control" id="networkID" placeholder="Enter device throughput" ng-model="self.device.throughput">
          </div>

          <button type="submit" class="btn btn-primary" ng-click="self.reportDevice(self.device)">Submit</button>
        </form>

        <h3>Create new network</h3>
        <form>
          <div class="form-group">
            <label for="networkID">Network ID</label>
            <input type="text" class="form-control" id="networkID" placeholder="Enter network ID" ng-model="self.network.id">
          </div>
            <div class="form-group">
              <label for="Authentication">Authentication</label>
                <select class="form-control" id="Authentication" ng-model="self.network.auth">
                  <option>WPA</option>
                  <option>Public</option>
                </select>
            </div>
          <button type="submit" class="btn btn-primary" ng-click="self.createNetwork(self.network)">Submit</button>
        </form>

    </div>
</div>
<script src="/static/bower_components/angular/angular.js"></script>
<script src="/static/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="/static/app/index.js"></script>
<script src="/static/app/service.js"></script>
<script src="/static/app/controller.js"></script>
</body>
</html>
